body {
    height: 100vh;
    margin:0;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    font-family:sans-serif;
}

header {
    height: 20vh;
}

header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.bar button {
    width:22%;
    height: 3rem;
    background-color: #eee;
    font-size: 20px;
}

.bar button:hover{
    background-color: black;
    color:#eee;
}

main {
    border: solid black 2px;
    display: flex;
    flex-direction: row;
}

.lista {
    width:940px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}

.lista img{
    width:40%;
    height:40vh;
    float:left;
}

.lista h2 {
    margin-left: 45%;
    text-decoration:underline ;
}

.lista p {
    margin-left: 45%;
    margin-top: 5%;
}

footer{
    height: 15vh;
    margin-top: auto;
    background-color: black;
    color:#eee;
    text-align: center;
}

@media screen and (max-width: 480px) {
    body{
        margin:0;
    }
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .lista {
        width:100%;
    }
    
    .lista h2 {
        font-size: 18px;
        margin-left: 0;
        margin-top: 0;
    }

    .lista p {
        width: 80%;
        margin-left:0;
        margin-top:0;
    }
    .lista img {
        width:80%;
        height: 30vh;
        float:none;
    }

    .bar button {
        width:25%;
        font-size: 16px;
    }
}